<img src="./Images/nem.png">
There is an increasing loss of jobs in the midst of high unemployment in South Africa as a result of the 4IR and more recently COVID. It is therefore necessary to recommend policy that is based on evidence (data). If we do not take such an evidence-based approach to innovation, we will be repeating the same mistakes over again. The environment today is rapidly changing and the same needs to apply to policy.

Public policy is important because policy choices and decisions made by the government affect nearly every aspect of daily our life, including education, healthcare and national security.The policies set in place by officials at all level of government establish rules, regulations and procedures that guide the actions of citizens within their jurisdiction, Public policy decisions are primarily made to improve the health, safety and well-being of citizens, and may set standards for educational institutions, transportation operations and housing facilities

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_excel('./Limpopo Province data/Individual health and socio economic data.xlsx')
data.head()

,IndividualId,Gender,DateOfBirth,ObservationDate,MotherStatus,FatherStatus,CurrentEducation,HighestSchoolLevel,HighestNonSchoolLevel,CurrentEmployment,...,BPDiastolic3,Pulse3,HIVEverTested,HIVEverNegTest,HIVLastNegTest,HIVEverPostTest,HIVFirstPostTest,ARTEver,ARTStarted,ARTCurrent
0,1.0,1.0,1997-05-29,2019-04-20 00:00:00,0.0,0.0,3.0,12.0,-1.0,0.0,...,91.0,53.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,1960-06-24,2017-09-30 00:00:00,0.0,0.0,-1.0,-1.0,-1.0,0.0,...,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN
2,3.0,2.0,1996-07-19,2020-06-25 00:00:00,0.0,0.0,3.0,-1.0,21.0,0.0,...,106.0,89.0,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN
3,4.0,2.0,1930-06-10,2020-02-06 00:00:00,0.0,0.0,3.0,-1.0,98.0,0.0,...,96.0,67.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,1962-12-07,2019-12-03 00:00:00,0.0,0.0,3.0,-1.0,98.0,0.0,...,91.0,86.0,1.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN

In [3]:
##

gender = { 0 : 'None/Missing',
          1: 'Male',
          2:'Female',
          3:'Unknown'
}
mother = {0: 'Unknown',
          1 :'Household',
          2 :'Area',
          3 :'Surveillance Area',
          4 :'Outside area',
          5 :'Elsewhere',
          6 :'Died'
}
father = {0: 'Unknown',
          1 : 'Household',
          2 :'Area',
          3 :'Surveillance Area',
          4 :'Outside area',
          5 :'Elsewhere',
          6 :'Died'
}
education = {-1:'Undefined',
             1 :'Part time',
             2 :'Full time',
             3 : 'No',
             5 :'Refused',
             6 :'Unknown'
}
highschool = {-1 :'Unknown',
              0 :'Grade 0',
              1 :'Grade 1',
              2 :'Grade 2',
              3 :'Grade 3',
              4 :'Grade 4',
              5 :'Grade 5',
              6 :'Grade 6',
              7 :'Grade 7',
              8 :'Grade 8',
              9 :'Grade 9',
              10 :'Grade 10',
              11 :'Grade 11',
              12 :'Grade 12',
              13 :'Special School',
              21 :'Higher Certificate',
              22 :'National Diploma',
              23 :'Degree',
              24 :'Honours',
              25 :'Masters',
              26 :'Doctors',
              31 :'ABET 1',
              32 :'ABET 2',
              33 :'ABET 3',
              34 :'ABET 4',
              41 :'FET 1',
              42 :'FET 2',
              43 :'FET 3',
              50 :'LT 1 year',
              51 :'Creche',
              96 :'Refused',
              97 :'NAD',
              98 :'No education',
              99 :'Not attending'
}
noschool =  {-1 :'Unknown',
             0 :'Grade 0',
             1 :'Grade 1',
             2 :'Grade 2',
             3 :'Grade 3',
             4 :'Grade 4',
             5 :'Grade 5',
             6 :'Grade 6',
             7 :'Grade 7',
             8 :'Grade 8',
             9 :'Grade 9',
             10 :'Grade 10',
             11 :'Grade 11',
             12 :'Grade 12',
             13 :'Special School',
             21 :'Higher Certificate',
             22 :'National Diploma',
             23 :'Degree',
             24 :'Honours',
             25 :'Masters',
             26 :'Doctors',
             31 :'ABET 1',
             32 :'ABET 2',
             33 :'ABET 3',
             34 :'ABET 4',
             41 :'FET 1',
             42 :'FET 2',
             43 :'FET 3',
             50 :'LT 1 year',
             51 :'Creche',
             96 :'Refused',
             97 :'NAD',
             98 :'No education',
             99 :'Not attending'
}
employment = {0:'Unknown',
              1:'Employed',
              2:'Part-time employment',
              3:'Pensioner',
              4:'Not Looking',
              5:'Other',
              10:'Household Duties/care',
              11:'Household duties/care',
              12:'Job seeking',
              13:'Education',
              14:'Disabled',
              15:'Unemployed'
}
sector = {100:'Unknown',
          101:'Agriculture',
          102:'Mining',
          103:'Manufacturing',
          104:'Utilities',
          105:'Construction',
          106:'Wholesale/retail',
          107:'Hospitality/Sport',
          108:'Transport/Communication',
          109:'Finance',
          110:'Education',
          111:'Health',
          112:'Legal',
          113:'Research',
          114:'Domestic',
          115:'Armed Forces',
          116:'Informal sector'
}
employtype = {200:'Unknown',
              201:'Employee',
              202:'Self-employed',
              203:'Informally employed'
}
employer = {300:'Unknown',
            301:'National Government',
            302:'Provincial Government',
            303:'Local Government',
            304:'Public Corporation',
            305:'Private sector employer',
            306:'Non-profit',
            307:'Self-employment',
            308:'Household'
}
marital = {0:'Missing/Refused',
           1:'Never married',
           2:'Married',
           3:'Polygamous Marriage',
           4:'Divorced/Separated',
           5:'Widowed'
}
partner = {0:'Missing/Refused',
           1:'No partnership',
           2:'Marital partnership',
           3:'Regular partnership',
           4:'Casual partnerhip(s)'
}
pstatus = {0:'Undefined',
           1:'Yes',
           2:'No',
           3:'Dont Know', 
           4:'Not asked'
}
pregnancy = {0:'Undefined',
           1:'Yes',
           2:'No',
           3:'Dont Know', 
           4:'Not asked'
}

health = {0:'Missing',
          1:'Excellent',
          2:'Good',
          3:'Fair',
          4:'Poo'
}
other_columns=['PublicHospitalAdmission', 'PrivateHospitalAdmission', 'PublicOPDVisit', 'PrivateOPDVisit', 'PublicClinicVisit', 'PrivatePhysicianVisit', 'PharmacyVisit', 'TraditionalHealerVisit', 'TBEverTreated', 'TBStartTreat12m', 'TBCurrentTreatment', 'HypertensionEverTreated', 'HypertensionStartTreat12m', 'HypertensionCurrentTreatment', 'DiabetesEverTreated', 'DiabetesStartTreat12m', 'DiabetesCurrentTreatment', 'HIVEverTested', 'HIVEverNegTest', 'HIVLastNegTest', 'HIVEverPostTest', 'HIVFirstPostTest', 'ARTEver', 'ARTStarted', 'ARTCurrent']
values_ocolumns={1:'Yes',2:'No'}
for col in other_columns:
    data[col].replace(values_ocolumns,inplace=True)

In [4]:
## Replacing Columns 
data['Gender'].replace(gender,inplace=True)
data['MotherStatus'].replace(mother,inplace=True)
data['FatherStatus'].replace(father,inplace=True)
data['CurrentEducation'].replace(education, inplace=True)
data['HighestSchoolLevel'].replace(highschool,inplace=True)
data['HighestNonSchoolLevel'].replace(noschool,inplace=True)
data['CurrentEmployment'].replace(employment,inplace=True)
data['EmploymentSector'].replace(sector,inplace=True)
data['EmploymentType'].replace(employtype,inplace=True)
data['Employer'].replace(employer,inplace=True)
data['MaritalStatus'].replace(marital,inplace=True)
data['PartnershipStatus'].replace(partner,inplace=True)
data['PregnancyStatus'].replace(pregnancy,inplace=True)
data['HealthStatus'].replace(health,inplace=True)

data.head()

,IndividualId,Gender,DateOfBirth,ObservationDate,MotherStatus,FatherStatus,CurrentEducation,HighestSchoolLevel,HighestNonSchoolLevel,CurrentEmployment,...,BPDiastolic3,Pulse3,HIVEverTested,HIVEverNegTest,HIVLastNegTest,HIVEverPostTest,HIVFirstPostTest,ARTEver,ARTStarted,ARTCurrent
0,1.0,Male,1997-05-29,2019-04-20 00:00:00,Unknown,Unknown,No,Grade 12,Unknown,Unknown,...,91.0,53.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Male,1960-06-24,2017-09-30 00:00:00,Unknown,Unknown,Undefined,Unknown,Unknown,Unknown,...,NaN,NaN,Yes,Yes,No,No,NaN,NaN,NaN,NaN
2,3.0,Female,1996-07-19,2020-06-25 00:00:00,Unknown,Unknown,No,Unknown,Higher Certificate,Unknown,...,106.0,89.0,Yes,Yes,No,No,NaN,NaN,NaN,NaN
3,4.0,Female,1930-06-10,2020-02-06 00:00:00,Unknown,Unknown,No,Unknown,No education,Unknown,...,96.0,67.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Male,1962-12-07,2019-12-03 00:00:00,Unknown,Unknown,No,Unknown,No education,Unknown,...,91.0,86.0,Yes,Yes,Yes,No,NaN,NaN,NaN,NaN

In [6]:
data['ObservationDate'].isnull().sum()

5